# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VTFHeaderParser.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Code\VTFHeaderParser\.idea\.idea.VTFHeaderParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
